$ul-bg: #f5f5f5;
$li-bg: rgb(212, 212, 212);
#products-intro {
  position: relative;
}

.main-container.products {
  background: $blue;
}
#catalogue {
  background: $white;
  .container {
    position: relative;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    padding: 10px;
  }
  .catalogue-item {
    min-height: 300px;
    height: auto;

    .button {
      background: $white;
      border: none;
      color: $black;
    }

    .accordion-header {
      color: $orange;
      text-transform: uppercase;
      background: transparent;
      font-weight: bold;
    }

    p {
      margin: 0;
    }
  }
  button.submenu-toggle {
    width: 100%;
    &::after {
      border-color: $orange transparent transparent;
      right: 5%;
      position: absolute;
      transform: translateX(-50%);
    }
  }

  ul {
    li.is-accordion-submenu-item {
      background: transparent;

      padding: 10px;

      color: $black;
      /*    border-left: 0.5px solid lightgray;
      border-right: 0.5px solid lightgray; */
      width: auto;
    }

    &li.is-accordion-submenu-item:first-child {
      border-top: 0.5px solid lightgrey;
    }
    .i-info {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      p:first-child {
        font-weight: bold;
      }
    }
  }
  button.submenu-toggle[aria-expanded="true"] ~ button {
    border-left: 2px solid $orange;
    border-right: 2px solid $orange;
  }
  button.submenu-toggle[aria-expanded="true"] ~ ul {
    border-bottom: 2px solid orange;
    border-top: none;
    background: #f9f9f9;
  }
  .h5 {
    font-weight: bold;
    padding: 10px 20px;
    text-transform: uppercase;
  }
  .price-container {
    position: relative;
    background: transparent;
    color: $orange;
    text-align: left;
    text-shadow: 1px 2px 1px $black;
    letter-spacing: 1px;
    p.price {
      position: absolute;
      color: $white;
      text-shadow: 2px 2px 0px $black;
      letter-spacing: 1px;
      bottom: 3%;
      right: 3%;
      font-weight: 700;
      font-size: 26px;
    }
  }

  p.button,
  a.button {
    margin: 0;
  }
  .has-submenu-toggle > a {
    margin: 0;
  }

  button.button.reserve {
    background: $orange;
    color: $white;
  }

  .listcounter {
    display: inline;
  }
}
.catalogue-filter-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;

  justify-content: space-between;
  position: fixed;
  top: 80px;
  z-index: 200;
  width: 100%;
  background: $blue;
  border: none;
  height: 40px;
  max-height: 40px;
  max-width: 1200px;

  @include breakpoint(large up) {
    top: 129px;
    margin: auto;
    left: 50%;
    margin-left: -600px;
  }
  button,
  div.listcounter-container {
    p {
      margin: 0;
      color: $white;

      font-style: italic;
      font-size: rem-calc(10);
      letter-spacing: 1px;

      &:hover {
        background: transparent;
        border: none;
        color: $white;
      }
    }
    border: none;
    background: none;
    color: $white;
    margin: 0;
    font-weight: bold;
    letter-spacing: 1px;

    &:hover {
      background: transparent;
      border: none;
      color: $white;
    }
  }

  .cell {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    @include breakpoint(large up) {
      display: block;
      padding-bottom: rem-calc(20px);
    }
    div.headline {
      font-weight: bold;
      color: $white;
      font-size: rem-calc(24);
      padding: 0.85em 0.6em;
      &:last-child {
        text-align: right;
      }
    }

    button,
    p {
      padding: 0.85em 1em;
    }
    button {
      margin: rem-calc(14);
      @include breakpoint(large up) {
        margin: 0;
      }
    }

    &.filters {
      @include breakpoint(large up) {
        border: none;
      }
      p {
        text-align: left;
        letter-spacing: 2px;
        font-size: rem-calc(18);
        color: $white;
        margin: 0;
        margin-left: rem-calc(10);
      }
      button {
        text-align: left;
      }
    }
    &.sorting {
      background: #437e8f;
      p {
        text-align: right;
        letter-spacing: 2px;
        font-size: rem-calc(18);
        color: $white;
        margin: 0;
        margin-right: rem-calc(10);
      }
      @include breakpoint(large up) {
        text-align: right;
      }
      button {
        @include breakpoint(large up) {
          border: none;
        }
        text-align: right;
      }
    }

    p {
      font-weight: bold;
    }
  }
  button[data-toggle="filters"] {
    text-align: right;
  }
  button.close {
    background: $blue;
    color: $white;
    font-size: rem-calc(14);
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
  }

  div.button {
    text-align: left;
  }
  button {
    background: transparent;
    margin: 0;
  }

  .dropdown-pane {
    border-top: 1px solid $white;
    transition: visibility 1s;
    left: 0 !important;
    width: 100%;
    background: #923633;
    background: $banner-color;
    border: none;
    padding: 0;
  }
}
label,
#sort-container {
  display: inline-block;
}
