/// <reference path="../../../node_modules/foundation-sites/scss/foundation.scss" />
/// <reference path="../settings/_settings.scss" />

.components {
  .component {
    margin: rem-calc(40 0);

    @include breakpoint(medium only) {
      margin: rem-calc(50 0);
    }

    @include breakpoint(large up) {
      margin: rem-calc(60 0);
    }

    &:first-child {
      margin-top: 0;
    }

    /*&:last-child {
            margin-bottom: 0;
        }*/
  }
}

body {
  min-height: 100vh;
  max-height: 100vh;
}
body {
  background: #f5f5f5;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3000;
}
.main-container {
  margin-top: #{$total-header};
  position: absolute;
  min-height: calc(100vh - #{$total-header});
  top: 0;
  width: 100%;
  overflow-y: scroll;
  .grid-container {
  }
}
section {
  min-height: calc(100vh - #{$total-header});
}

/* body {
  position: fixed;

  min-height: calc(100vh - #{$total-header});
  width: 100%;
  overflow: scroll;
  overflow-y: scroll;
  max-height: 300px;

  background: red;
}
.main-container {
  margin-top: #{$total-header};
}
header {
  position: fixed;
  top: 0;
} */

.wide-components {
  .component {
    margin: rem-calc(40 0);

    @include breakpoint(medium only) {
      margin: rem-calc(50 0);
    }

    @include breakpoint(large up) {
      margin: rem-calc(60 0);
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.bg-color,
    &.bg-gradient {
      margin: 0;
      padding: rem-calc(40 0);

      @include breakpoint(medium only) {
        padding: rem-calc(50 0);
      }

      @include breakpoint(large up) {
        padding: rem-calc(60 0);
      }
    }
  }
}
