$header-top-h: 80px;
$header-bot-h: 50px;
$header-banner: 30px;
$total-header: calc(#{$header-top-h} + #{$header-bot-h} + #{$header-banner});

.header__banner {
  height: $header-banner;
  background: $banner-color;
  width: 100%;
  @include breakpoint(large down) {
    display: none;
  }
}

.header-top-bg {
  div.bg {
    @include breakpoint(large up) {
      background-image: url(/imgs/chain.png);
      background-repeat: repeat-x;
      max-height: $header-top-h;
      height: 80px;
      background-position: bottom;
      background-size: contain;

      min-width: 200px;
    }
  }
}
.header-img {
  position: relative;
  width: 100%;
}

.header__top {
  height: $header-top-h;
  background: white;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;

  padding: 0px 20px;

  @include breakpoint(large down) {
    background: $banner-color;

    background-image: url(/imgs/chain2.png);
    background-repeat: no-repeat;
    max-height: $header-top-h;
    height: 80px;
    background-position: left;
    background-size: contain;

    min-width: 200px;
  }

  button[data-toggle="offCanvas"] {
    font-size: rem-calc(13);
    position: relative;
    color: transparent;
    background: none;
    margin: 0;
    border: none;
    height: 100%;
    span {
      display: block;
      position: relative;

      height: rem-calc(3);
      background: $font-color-header;
      width: rem-calc(22);
      transition: background 0 0.3s;
    }

    span::before,
    span::after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: rem-calc(3);
      background-color: $font-color-header;
      content: "";
      transition-duration: 0.3s, 0.3s;
      transition-delay: 0.3s, 0;
    }

    span::before {
      top: rem-calc(7);
      transition-property: top, transform;
    }

    span::after {
      bottom: rem-calc(7);
      transition-property: bottom, transform;
    }
  }
  button[aria-expanded="true"] {
    color: transparent;
    border: none;

    &:focus {
      background: transparent;
      border: none;
    }

    span {
      background: transparent;
    }

    span::before,
    span::after {
      background: $font-color-header;
    }

    span::before {
      top: 0;
      transform: rotate(45deg);
    }

    span::after {
      bottom: 0;
      transform: rotate(-45deg);
    }
  }

  > div:first-child {
    width: 100%;
  }
  img.logo {
    height: 60px;
    width: auto;

    @include breakpoint(large up) {
      position: absolute;
      height: $total-header;
      top: 0;
      left: calc(50% - calc(#{$total-header} / 2));
    }
  }
}

.header__bottom {
  background: black;
  height: $header-bot-h;
  @include breakpoint(large down) {
    display: none;
  }
  i {
    color: $white;
    margin-right: rem-calc(15);
  }
  li {
    display: inline-block;
    margin-left: rem-calc(10);
    a {
      color: $white;
    }
  }
  div,
  ul,
  nav {
    height: 100%;
  }
}

.header__logo {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(50%);
  span {
    margin: 0;

    align-self: center;
  }
  button {
    margin: 0;
  }

  a {
    position: relative;
    img {
      height: $header-top-h;
      width: auto;
      margin-right: rem-calc(10);
      @include breakpoint(large down) {
        height: 50px;
      }
    }
  }
}

.service-nav__mobile-menu {
  width: 100%;
  height: 100%;
}
/* .header__banner {
  height: rem-calc(35);
  background: $orange;
} */

.mobile-panel {
}
.mobile-panel {
  background: $white;
  @include breakpoint(small only) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;

    .top-links {
      margin-top: auto;
    }
    .bottom-links {
      margin: 0;
    }
  }
  .mobile-nav {
    @include breakpoint(medium down) {
      .is-drilldown {
        max-width: none !important;
      }
    }
    .nav-headline {
      font-size: rem-calc(20);
    }

    .drilldown {
      li {
        display: block;
        color: $blue;
        font-weight: bold;
        border-bottom: 1px solid $menu-border-color;

        &:first-child {
          border-top: 3px solid $orange;
        }

        a {
          position: relative;
          display: block;
          color: inherit;
          padding: rem-calc(24 20);
          background: #f9f9f9;
        }

        .forward {
          display: block;
          position: absolute;
          z-index: 1;
          top: 0;
          right: 0;
          width: rem-calc(70);
          height: 100%;
          border: none;
          border-left: 1px solid $medium-gray;

          &:before {
            content: "";
            position: absolute;
            display: block;

            left: 50%;

            transform: rotate(45deg) translate(-50%, -50%);
            width: rem-calc(10);
            height: rem-calc(10);
            border: solid $black;
            border-width: 2px 2px 0 0;
            margin-left: -6px;
            margin-top: 2px;
          }
        }

        &.js-drilldown-back {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          padding: rem-calc(24 20);
          padding-bottom: rem-calc(12);

          .label {
            width: rem-calc(50);
            height: rem-calc(4);
            margin: rem-calc(20 0 10 0);
          }

          a {
            padding: 0;
            padding-left: rem-calc(20);
            font-size: rem-calc(13);

            &:before {
              content: "";
              position: absolute;
              top: 50%;
              left: 0;
              width: rem-calc(10);
              height: rem-calc(10);
              border: solid $black;
              border-width: 2px 2px 0 0;
              transform: rotate(-135deg);
              margin-top: -6px;
              display: block;
            }
          }
        }
      }
    }
  }
}

.top-links {
  width: 100%;
  justify-content: space-between;

  @include breakpoint(small only) {
    border-top: 2px solid $orange;
    i {
      margin-right: rem-calc(10);

      color: $orange;
    }
  }
  a {
    padding: rem-calc(24 20);
    color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include breakpoint(medium only) {
    border-top: 1px solid $medium-gray;

    a {
      width: 100%;
      height: rem-calc(40);
      margin: rem-calc(10 0);
      font-size: rem-calc(15);
      border-right: 1px solid $medium-gray;
    }
  }

  background: $header-banner;
}

.bottom-links {
  margin: 0;
  a.button {
    margin: 0;
    width: 100%;

    font-size: rem-calc(15);

    color: white;
    display: flex;
    justify-content: center;
    padding: rem-calc(20);
    align-items: center;

    i {
      color: fill;
      margin-right: rem-calc(10);
      margin-left: rem-calc(-10);
      margin-top: rem-calc(3);
    }

    &:first-child {
      background: #3b5998;
    }
    &:last-child {
      background: linear-gradient(25deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    }
  }

  a:last-child {
    background: $medium-gray;
  }
}

div.off-canvas {
  max-height: calc(100% - 80px);
  bottom: 0;
  top: auto;
}

.js-off-canvas-overlay {
  max-height: calc(100% - #{$header-top-h});
  bottom: 0;
  top: auto;
}

.off-canvas-content.-transition-overlap {
  pointer-events: none;
}
