#contact_section {
  .h4 {
    border-bottom: 1px solid $black;
    padding-bottom: rem-calc(5);
    margin-bottom: rem-calc(15);
  }
  .sidebar {
    p,
    a {
      margin: 0;
      margin-bottom: rem-calc(10);
    }
  }
  iframe {
    min-height: 500px;
    height: 100%;
    width: 100%;
  }
  .info-icons {
    margin-bottom: rem-calc(40);
  }
}
