@import "mixins";
#service-intro {
  min-height: auto;
  h2.h1 {
    font-weight: bold;
    @include redHeader;
  }
  span.h4 {
    font-weight: bold;
  }
  .image-container {
    position: relative;

    min-height: 300px;
    img {
      min-height: 200px;
      max-height: 200px;
      width: auto;
      position: absolute;
      z-index: 1;
      &:first-child {
        top: 0;
        left: 0;
      }
      &:nth-child(2) {
        bottom: 0;
        right: 0;
      }
      &:nth-child(3) {
        top: 25%;
        left: 25%;
      }
      &:hover {
        z-index: 3;
      }
    }
  }
}

#service-repair {
  min-height: auto;
  .manchet {
    font-weight: bold;
    margin-bottom: rem-calc(15);
  }
  h4,
  span.h4 {
    font-weight: bold;
    color: $blue;
  }

  .banner-pic {
    min-height: 400px;
    max-height: 400px;
    min-width: 800px;
    width: 100%;
    overflow: hidden;
    div {
      background-image: url(/imgs/bannerpic.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom;
      min-height: 500px;
      width: 100%;
    }
  }
}

#guarantee {
  h2.h1 {
    @include redHeader;
  }
  h4.h3 {
    font-weight: bold;
    color: $blue;
  }
  .gs {
    li {
      list-style: disc;
      margin-bottom: rem-calc(10);
      span {
        font-weight: bold;
        color: $blue;
      }
      @include breakpoint(small only) {
        list-style: inside;
      }
    }
  }
}

#shopping-guide,
#size-guide {
  h2.h1 {
    color: $red;
    font-weight: bold;
    margin-bottom: rem-calc(50);
    text-align: center;
    border-bottom: 1px solid $red;
  }
  h4.h3 {
    font-weight: bold;
    color: $blue;
    border-bottom: 1px solid $blue;
  }
  .cell {
    margin-bottom: rem-calc(30);
  }
  li {
    list-style: inside;
    margin-bottom: rem-calc(10);

    @include breakpoint(small only) {
      list-style: inside;
    }
  }
  span {
    font-weight: bold;
    color: $blue;
  }
}
