h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
li,
span,
br,
p {
  color: $black;
}

ul,
li {
  margin: 0;
}
header,
footer {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  ul,
  li,
  span,
  br,
  p {
  }
}

ul,
li,
a {
  list-style: none;
}

section h1:first-child {
  margin-top: rem-calc(25);
  margin-bottom: rem-calc(70);
}

section {
}
