@import "mixins";
h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
li,
span,
br,
p {
  color: $black;
}

ul,
li,
form,
label,
select {
  margin: 0;
}

footer {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  ul,
  li,
  span,
  br,
  p {
    color: $footer-text-color;
  }
}

h1 {
  font-weight: bold;
}

ul,
li,
a {
  list-style: none;
}

#tp {
  padding-top: rem-calc(80);
  padding-bottom: rem-calc(90);
}

h1:first-child {
  text-align: center;
  font-size: rem-calc(50);
  color: $white;
  margin-bottom: rem-calc(50);
  text-shadow: 1px 1px 0px black;
  letter-spacing: 4px;
  width: 100%;
  background: $red;

  padding-top: rem-calc(20);
  padding-bottom: rem-calc(20);
  margin-bottom: rem-calc(30);

  @include breakpoint(medium only) {
    font-size: rem-calc(40);
    letter-spacing: 3px;
  }
  @include breakpoint(small only) {
    font-size: rem-calc(25);

    letter-spacing: 1px;
  }
}

#products-intro {
  h1:first-child {
    margin-bottom: 0;
  }
}
